// buttons

button {
    font-family: $default-font;
}

.button-main {
    background-color: $white;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    font-size: 20px;
}

.button-link {
    color: $grey-thin;
    text-decoration: underline;
}

.hover-default {
    transition: $transition-fast;
    transition-property: opacity;
    @include hover {
        opacity: 0.8;
    }
}