// variables
$default-font: 'Inter', sans-serif;

$white: #fff;
$black: #000;
$dark: #211c1d;
$grey: #8a8a8a;
$grey-light: #bbbbbb;
$grey-thin: #d2d2d2;
$grey-pale: #f4f4f4;
$primary: #582feb;
$green-correct: #93bc39;
$red-incorrect: #ee3f54;


$transition-primary: 300ms ease-in-out;
$transition-fast: 200ms ease-in-out;